node_modules/
bower_components/
src/**/*.js
src/**/*.map
tests/**/*.js
tests/**/*.map
Demo/

*.suo
*.user
*.sln.docstates
*.sln.ide/
.vs/
*.csproj
*.sln

[Bb]in/
[Oo]bj/

.git/

# Build results

[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

*.log
*.[Rr]e[Ss]harper

Thumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
